@font-face { font-family: customh; src: url('res/fonts/BankGothic.ttf'); }
@font-face { font-family: custom; src: url('res/fonts/Prime.otf'); }
body{
  background-color: #0c0c0c;
  margin: 0;
  overflow-x: hidden;
  font-family: custom;
}

h1, h2, h3, h4, h5, h6{
  font-family: customh;
  color: #ffffff;
}
h2, h3{
  color: #00bb00;
}
p{
  color: #ffffff;
}

#nav{
  top: 0;
  position: fixed;
  display: block;
  margin: 0;
  background-color: #00000080;
  width: 100vw;
  height: 100px;
  text-align: center;
  z-index: 1;
  transition: height 0.5s ease-in-out;
}

#nav:hover{
  background-color: black;
}

#nav_logo{
  height: 80%;
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#linksR, #linksL{
  width: 35%;
  list-style: none;
  line-height: 100px;
  margin: 0;
  transition: line-height 0.5s ease-in-out;
}

#linksR{
  padding-right: 1%;
  padding-left: 0;
  float: right;
}
#linksL{
  padding-left: 1%;
  padding-right: 0px;
  float: left;
}


#linksR > li, #linksL > li{
  padding: 0 20px 0 20px;
  display: inline-block;
  box-sizing: border-box;
}

#linksR > li:hover > a, #linksL > li:hover > a{
  color: #00bb00;
}

#linksR > li:hover, #linksL > li:hover{
  background: linear-gradient(black 95%, #00bb00 5%);
  cursor: pointer;
}

#linksR > li > a, #linksL > li > a{
  text-decoration: none;
  color: #ffffff;
  font-family: customh;
  font-weight: bold;
  font-size: 15pt;
}

.icon{
  color: #000000;
  border: solid #c1c1c1 5px;
  background-color: #c1c1c1;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  margin: 25px;
}

.fa-2x{
  border: solid #c1c1c1 10px;
  margin: 15px;
}

.icon:hover{
  color: #00bb00;
  transform: rotate(15deg);
}

#footer{
  bottom: 0;
  color: #ffffff;
  background-color: #000000;
  height: 100px;
  line-height: 100px;
  margin: 0;
}

#ico{
  float: right;
  padding-right: 10%;
  line-height: 100px;
}

#gear{
  position: fixed;
  z-index: 5;
  bottom: 20px;
  left: 20px;
  width: 100px;
}

#gear2{
  position: fixed;
  z-index: 5;
  bottom: 87px;
  left: 87px;
  width: 50px;
}

#footer > p{
  float: left;
  padding-left: 10%;
  line-height: 100px;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}
 
::-webkit-scrollbar-thumb {
  background: #00bb00;
  border-radius: 1vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #007700;
}