h1{
      color: var(--accent-color);
      font-size: 70pt;
      font-weight: bold;
      filter: drop-shadow(4px 4px 3px #595959);
}

#footer{
      position: absolute;
      bottom: 0;
      width: 100%;
}

#Jake{
      position: absolute;
      height: 50vh;
      left: 5vw;
      bottom: 168px;
}

#icons{
      margin-top: 10vh;
}

#icons > a{
      display: inline-block;
      color: #363636;
      margin: 0 20px;
}

.icon{
      transition: margin 0.5s ease;
}

.icon:hover{
      color: var(--hover);
      margin: 0 40px;
}

#text{
      width: 67.5%;
      float: right;
      text-align: left;
}

#text > h2{
      color: var(--accent-color);
      font-size: 30pt;
      margin: 0;
}

#text > p{
      width: 80%;
      font-size: 18pt;
}

/*mobile*/
/*phones*/
/* Portrait */
@media only screen
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-max-device-pixel-ratio: 4)
  and (orientation: portrait) {
      #Jake{
            position: relative;
            bottom: auto;
            width: 60%;
            height: auto;
            left: auto;
      }
      #text{
            width: 67.5%;
            float: right;
            text-align: left;
      }
      h1{
            font-size: 40pt;
      }
      #text{
            width: 80%;
            float: none;
            display: inline-block;
            margin: 20px 0;
      }
      
      #text > h2{
            font-size: 30pt;
            margin: 0;
      }
      
      #text > p{
            width: 100%;
            font-size: 12pt;
            margin: 0;
      }
      #footer{
            position: relative;
      }
      .icon{
            margin: 10vw;
      }
      #icons > a{
            height: 100px;
      }
}

/* Landscape */
@media only screen
  and (max-device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-max-device-pixel-ratio: 4)
  and (orientation: landscape) {
      #Jake{
            position: relative;
            bottom: auto;
            width: 20%;
            height: auto;
            left: auto;
      }
      #text{
            width: 67.5%;
            float: right;
            text-align: left;
      }
      h1{
            font-size: 40pt;
      }
      #text{
            width: 80%;
            float: none;
            display: inline-block;
            margin: 20px 0;
      }
      
      #text > h2{
            font-size: 30pt;
            margin: 0;
      }
      
      #text > p{
            width: 100%;
            font-size: 12pt;
            margin: 0;
      }
      #footer{
            position: relative;
      }
      .icon{
            margin: 0;
      }
}

/*tablets*/
/* Portrait */
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-max-device-pixel-ratio: 2)
  and (orientation: portrait) {
      #Jake{
            position: relative;
            bottom: auto;
            width: 40%;
            height: auto;
            left: auto;
      }
      #text{
            width: 67.5%;
            float: right;
            text-align: left;
      }
      h1{
            font-size: 40pt;
      }
      #text{
            width: 80%;
            float: none;
            display: inline-block;
            margin: 20px 0;
      }
      
      #text > h2{
            font-size: 30pt;
            margin: 0;
      }
      
      #text > p{
            width: 100%;
            font-size: 18pt;
            margin: 0;
      }
      #footer{
            position: relative;
      }
      .icon{
            margin: 0 20vw;
      }
}

/* Landscape */
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-max-device-pixel-ratio: 2)
  and (orientation: landscape) {
      #Jake{
            position: relative;
            bottom: auto;
            width: 20%;
            height: auto;
            left: auto;
      }
      #text{
            width: 67.5%;
            float: right;
            text-align: left;
      }
      h1{
            font-size: 40pt;
      }
      #text{
            width: 80%;
            float: none;
            display: inline-block;
            margin: 20px 0;
      }
      
      #text > h2{
            font-size: 30pt;
            margin: 0;
      }
      
      #text > p{
            width: 100%;
            font-size: 18pt;
            margin: 0;
      }
      #footer{
            position: relative;
      }
      #icons{
            margin: 20vh 0;
      }
}