.left{
  display: block;
  text-align: left;
  margin-left: 30%;
}

.right{
  display: block;
  text-align: right;
  margin-right: 30%;
}

#main{
  width: 50%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

#main > a > img{
  width: 50%;
}
