body {
    text-align: right;
}

.divider {
    margin: 20px 0;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 47.5% 5% 47.5%;
    align-items: center;
}

.divider>img {
    display: inline-block;
    width: 100%;
}

.line {
    width: 90%;
    margin: 0 5%;
    height: 10px;
    border-radius: 6px;
    background-color: #0047ab;
    display: inline-block;
}

h1 {
    color: #0047ab;
    font-family: custom;
    font-size: 60pt;
    margin: 0;
    margin-top: 75px;
}

h2 {
    margin: 0;
}

.postTitle {
    font-size: 40pt;
    margin: 0;
}

.date {
    color: #595959;
    font-size: 14pt;
}

.body {
    width: 60%;
    display: inline-block;
    text-align: left;
    font-size: 16pt;
    font-family: customP;
    padding: 20px;
    color: #ffffff;
}

#unreleased {
    display: none;
}

#maincontent {
    width: 80%;
    display: inline-block;
    text-align: center;
}

#toc {
    width: 20vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #161616;
    text-align: center;
    overflow-y: scroll;
    display: table;
}

#toc a {
    display: table-cell;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #0047ab;
    font-size: 18pt;
    padding: 5px 0;
    display: block;
}

#toc a:hover {
    color: #003279;
}

#footer {
    text-align: center;
}


/*mobile*/


/*phones*/


/* Portrait */

@media only screen and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 4) and (orientation: portrait) {
    .body {
        width: 90%;
    }
    .divider {
        grid-template-columns: 40% 20% 40%;
    }
}


/* Landscape */

@media only screen and (max-device-height: 812px) and (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 4) and (orientation: landscape) {}


/*tablets*/


/* Portrait */

@media only screen and (min-device-width: 601px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 601px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-max-device-pixel-ratio: 2) and (orientation: landscape) {}