#header{
      width: 740px;
      margin-top: 100px;
      display: inline-block;
}

#left{
      margin: 0;
      float: left;
      margin-top: 2%;
}

#left > h1{
      color: var(--accent-color);
      margin: 0;
      font-size: 70pt;
      font-weight: bold;
      filter: drop-shadow(4px 4px 3px #595959);
}

#left > h2{
      font-size: 38pt;
      margin: 0;
}

#left > a{
      color: #c1c1c1;
      margin: 5px;
}

#left > a:hover{
      color: var(--accent-color);
}

#headerImg{
      width: 30%;
      margin: 0;
}

#MobiImg{
      display: none;
      width: 40%;
      margin: 0;
}

#dropBtn{
      margin-top: 20px;
      border: 2px solid var(--accent-color);
      width: 70%;
      display: none;
      color: var(--accent-color);
      font-size: 24pt;
}

#filters{
      width: 60%;
      text-align: center;
      margin-top: 50px;
      display: inline-block;
}

#dropBtn:focus, #filters:focus{
      outline: none;
}

#filters > a{
      text-decoration: none;
      font-size: 20pt;
      color: #595959;
      margin: 0 2%;
}

#filters > a:hover{
      color: var(--accent-color);
      cursor: pointer;
}

#videos{
      display: inline-grid;
      grid-template-columns: repeat(4, 25%);
      margin-top: 50px;
      width: 80%;
      justify-items: center;
      justify-content: space-evenly;
}

.thumbnail{
      width: 90%;
      display: inline-block;
}

.vidbox{
      text-align: center;
      margin: 15px 0;
}

.title{
      color: var(--accent-color);
      font-size: 15pt;
      margin: 0;
}

.container {
      position: relative;
      width: 100%;
      max-width: 400px;
}

.image {
      display: block;
      width: 100%;
      height: auto;
}

.overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: .3s ease;
}

.icon:hover{
      color: var(--hover);
      cursor: pointer;
}

.icon {
      color: var(--accent-color);
      font-size: 100px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
}

.container:hover .overlay {
      opacity: 1;
}

#popup{
      position: fixed;
      height: 100vh;
      width: 100vw;
      background-color: #000000cc;
      display: none;
      top: 0;
      left: 0;
}

#popContent{
      vertical-align: middle;
      display: table-cell;
}

#popVid{
      display: block;
      width: 60%;
      max-width: 1360px;
      margin: 0;
}

#popContainer{
      width: 60%;
      max-width: 1360px;
      text-align: left;
      display: inline-block;
      background-color: var(--primary-color);
      max-height: 275px;
      overflow-y: auto;
      margin: 0;
}

#popTitle{
      color: var(--accent-color);
      padding-left: 20px;
}

#popDate{
      color: #595959;
      padding-left: 20px;
}

#popDesc{
      color: var(--secondary-color);
      padding-left: 15px;
}

/*mobile*/
/*phones*/
/* Portrait */
@media only screen
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-max-device-pixel-ratio: 4)
  and (orientation: portrait) {
      #header{
            width: 100vw;
            margin-top: 20px;
      }

      #left{
            float: none;
      }

      #left > h1{
            font-size: 40pt;
      }

      #left > h2{
            font-size: 22pt;
            margin: 0;
      }

      #headerImg{
            display: none;
      }
      
      #MobiImg{
            display: inline-block;
      }

      #dropBtn{
            display: inline-block;
      }

      #videos{
            grid-template-columns: 50% 50%;
      }

      #filters{
            width: 70%;
            margin-top: 0;
            height: 0;
            overflow: hidden;
      }
      
      #filters > a {
          display: inline-block;
          font-weight: bold;
          font-size: 24px;
          width: 100%;
          margin: 2px 0;
      }
}

/* Landscape */
@media only screen
  and (max-device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (-webkit-max-device-pixel-ratio: 4)
  and (orientation: landscape) {
      #header{
            width: 100vw;
            margin-top: 20px;
      }

      #left{
            float: none;
      }

      #left > h1{
            font-size: 40pt;
      }

      #left > h2{
            font-size: 22pt;
            margin: 0;
      }

      #headerImg{
            display: none;
      }
      
      #MobiImg{
            display: inline-block;
            width: 30%;
      }

      #dropBtn{
            display: inline-block;
      }

      #videos{
            grid-template-columns: 33% 33% 33%;
      }

      #filters{
            width: 70%;
            margin-top: 0;
            height: 0;
            overflow: hidden;
      }
      
      #filters > a {
          display: inline-block;
          font-weight: bold;
          font-size: 24px;
          width: 100%;
          margin: 2px 0;
      }

      #dropBtn:focus + #filters, #filters:focus{
            height: 125pt;
            border: 2px solid var(--accent-color);
            border-top: 0;
      }
}

/*tablets*/
/* Portrait */
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-max-device-pixel-ratio: 2)
  and (orientation: portrait) {
      #header{
            width: 100vw;
            margin-top: 20px;
      }

      #left{
            float: none;
      }

      #left > h1{
            font-size: 60pt;
      }

      #left > h2{
            font-size: 34pt;
            margin: 0;
      }

      #headerImg{
            display: none;
      }
      
      #MobiImg{
            display: inline-block;
            width: 30%;
      }

      #dropBtn{
            display: inline-block;
      }

      #videos{
            grid-template-columns: 33% 33% 33%;
      }

      #filters{
            width: 70%;
            margin-top: 0;
            height: 0;
            overflow: hidden;
      }
      
      #filters > a {
          display: inline-block;
          font-weight: bold;
          font-size: 24px;
          width: 100%;
          margin: 2px 0;
      }

      #dropBtn:focus + #filters, #filters:focus{
            height: 125pt;
            border: 2px solid var(--accent-color);
            border-top: 0;
      }
}

/* Landscape */
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1000px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (-webkit-max-device-pixel-ratio: 2)
  and (orientation: landscape) {
      #header{
            width: 100vw;
            margin-top: 20px;
      }

      #left{
            float: none;
      }

      #left > h1{
            font-size: 70pt;
      }

      #left > h2{
            font-size: 38pt;
            margin: 0;
      }

      #headerImg{
            display: none;
      }
      
      #MobiImg{
            display: inline-block;
            width: 30%;
      }

      #videos{
            grid-template-columns: repeat(4, 25%);
      }

      #dropBtn{
            display: inline-block;
      }

      #filters{
            width: 70%;
            margin-top: 0;
            height: 0;
            overflow: hidden;
      }
      
      #filters > a {
          display: inline-block;
          font-weight: bold;
          font-size: 24px;
          width: 100%;
          margin: 2px 0;
      }

      #dropBtn:focus + #filters, #filters:focus{
            height: 125pt;
            border: 2px solid var(--accent-color);
            border-top: 0;
      }
}